In [1]:
lambda a,b : a+b

In [2]:
show=print
show("something")

something

In [4]:
names=["nishant","tayal","abcd","egfh"]
for name in enumerate(names):
    print(name)

(0, 'nishant')
(1, 'tayal')
(2, 'abcd')
(3, 'egfh')

In [6]:
names=["nishant","tayal","abcd","egfh"]
for name in enumerate(names):
    print(name[0],name[1])

0 nishant
1 tayal
2 abcd
3 egfh

In [7]:
#swap variable without third variable
a=5
b=9

a=a+b
b=a-b
a=a-b
print(a,b)

9 5

In [8]:
a=5
b=9

a=a^b
b=a^b
a=a^b

print(a,b)

9 5

In [9]:
a=5
b=9

a,b=b,a
print(a,b)

9 5

In [12]:
names=["nishant","tayal","abcd","egfh"]
for i,name in enumerate(names):
    print(i,"-",name)

0 - nishant
1 - tayal
2 - abcd
3 - egfh

In [15]:
names=["nishant","tayal","abcd","egfh"]
scores=[20,30,40,50]
for i,name in enumerate(names):
    score=scores[i]
    print(name,"-",score)

nishant - 20
tayal - 30
abcd - 40
egfh - 50

In [16]:
names=["nishant","tayal","abcd","egfh"]
scores=[20,30,40,50]
for name,score in zip(names,scores):
    print(name,"-",score)

nishant - 20
tayal - 30
abcd - 40
egfh - 50

In [17]:
names=["nishant","tayal","abcd","egfh"]
scores=[20,30,40,50]
states=["punjab","haryana","delhi","up"]
for name,score,state in zip(names,scores,states):
    print(name,"-",score,state)

nishant - 20 punjab
tayal - 30 haryana
abcd - 40 delhi
egfh - 50 up