In [1]:
a=[1,2,3,4]
print(a)

[1, 2, 3, 4]

In [1]:
b=["nishant",1,2,print]
print(b)

['nishant', 1, 2, <built-in function print>]

In [2]:
a=[1,2,3,4,5]
a[0]=100
print(a)

[100, 2, 3, 4, 5]

In [4]:
print(len([1,2,3,4]))

4

In [6]:
print("nishant "+"tayal")

nishant tayal

In [7]:
print([1,2,3]+[4,5,6])

[1, 2, 3, 4, 5, 6]

In [8]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [9]:
print("z" in "nishant")

False

In [10]:
print(1 in [1,2,3])

True

In [11]:
a=[1,2,3,4,5]
print(a[-1])

5

In [13]:
a=[1,2,3]
a.insert(1,100)
print(a)

[1, 100, 2, 3]

In [14]:
a=[1,2,3,4]
a.append(100)
print(a)

[1, 2, 3, 4, 100]

In [16]:
a=[1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [17]:
a=[1,2,3,4,5]
a.pop(3)
print(a)

[1, 2, 3, 5]

In [20]:
a=["abcd","nishant","abcd","tayal"]
a.remove("abcd")
print(a)
a.remove("abcd")
print(a)

['nishant', 'abcd', 'tayal']
['nishant', 'tayal']

In [21]:
a=[23,4,5,2,545]
a.sort()
print(a)

[2, 4, 5, 23, 545]

In [24]:
print(sorted([36,56,32,34]))

[32, 34, 36, 56]

In [27]:
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [31]:
a=[1,2,3,4,5]
print(list(reversed(a)))
print(a)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [33]:
a=[1,2,3,4]
for x in map(lambda x:x**2 ,a):
    print(x)

1
4
9
16

In [4]:
a=list(map(int,input().split()))
print(a)
print(a[0])

[1, 2, 3, 4]
1

In [6]:
",".join(["nishant","tayal","nishant"])

'nishant,tayal,nishant'